.zzz {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: red;
  color: white;
  width: 100%;
  height: 80vh; }

html {
  font-size: 15px; }

.notScroll {
  overflow: hidden !important;
  position: relative !important; }

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #336633;
  overflow: scroll;
  font-size: 15px;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0; }
  body .nav, body .navButtom {
    z-index: 1;
    width: 100%;
    position: fixed;
    height: 2em; }
    body .nav .tool, body .navButtom .tool {
      background-color: buttonface;
      position: fixed;
      right: 0;
      top: 0;
      font-size: 1em;
      height: 2em;
      margin: 0px;
      padding: 0 .5em;
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center; }
      body .nav .tool span, body .navButtom .tool span {
        display: block;
        padding-left: .25em; }
      body .nav .tool svg, body .navButtom .tool svg {
        font-size: 1em; }
    body .nav ul.horizontal, body .navButtom ul.horizontal {
      height: 2em;
      background-color: gray;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center; }
      body .nav ul.horizontal li, body .navButtom ul.horizontal li {
        cursor: default;
        user-select: none;
        padding: 0 .2em;
        height: 2em;
        line-height: 2em;
        text-align: center; }
      body .nav ul.horizontal li:hover, body .navButtom ul.horizontal li:hover {
        background-color: gray;
        background-color: buttonface; }
      body .nav ul.horizontal .ok, body .navButtom ul.horizontal .ok {
        margin-left: auto; }
      body .nav ul.horizontal .InputText, body .navButtom ul.horizontal .InputText {
        border-radius: none;
        background-color: white; }
      body .nav ul.horizontal .jscolor, body .navButtom ul.horizontal .jscolor {
        width: 4em; }
    body .nav ul.navListNode, body .navButtom ul.navListNode {
      z-index: 1;
      list-style: none;
      margin: 0;
      position: fixed;
      top: 2em;
      background-color: gray;
      color: white;
      display: flex;
      flex-flow: column;
      height: auto;
      padding: 0em; }
      body .nav ul.navListNode li, body .navButtom ul.navListNode li {
        cursor: default;
        padding: .5em;
        user-select: none; }
      body .nav ul.navListNode li:hover, body .navButtom ul.navListNode li:hover {
        background-color: #646464; }
  body .navButtom {
    bottom: 0; }
    body .navButtom ul.navListNode {
      top: unset;
      bottom: 2em; }

#pizarra-basica {
  width: 2000px;
  height: 2000px; }
  #pizarra-basica svg {
    cursor: pointer; }
    #pizarra-basica svg ellipse, #pizarra-basica svg polygon, #pizarra-basica svg path, #pizarra-basica svg text {
      user-select: none; }
    #pizarra-basica svg text {
      line-height: 1em; }

/*Verificar donde se usa*/
.grid {
  left: 0px;
  top: 2em;
  position: absolute;
  z-index: -10; }

.hide {
  display: none !important; }

.points .p1, .points .p2, .points .p3, .points .p4 {
  position: absolute;
  width: .5em;
  height: .5em;
  margin: -.25em;
  left: -100px;
  top: -100px;
  border-radius: 50%;
  background-color: #ff00ff;
  z-index: 1;
  cursor: pointer; }

.points .p2 {
  background-color: #ffff00; }

.points .p3 {
  background-color: #00ff00; }

.points .p4 {
  background-color: #66ccff; }

.KeyBoardContainer {
  bottom: 2em;
  width: 100%;
  position: fixed; }
  @media (min-width: 900px) {
    .KeyBoardContainer {
      display: flex;
      justify-content: center; } }
  @media (max-width: 900px) {
    .KeyBoardContainer {
      overflow-x: scroll; } }
  .KeyBoardContainer .KeyBoard {
    background-color: buttonface;
    padding: .5em 0em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray; }
    @media (min-width: 900px) {
      .KeyBoardContainer .KeyBoard {
        font-size: 1em;
        width: 100%; } }
    @media (max-width: 900px) {
      .KeyBoardContainer .KeyBoard {
        width: fit-content; } }
    .KeyBoardContainer .KeyBoard .btn-name {
      padding: 0em;
      text-align: center;
      user-select: none;
      color: black;
      font-size: .5em;
      /* display: none; */ }
    .KeyBoardContainer .KeyBoard .btn-content, .KeyBoardContainer .KeyBoard .btn-menu {
      border: 1px solid gray;
      /* border-radius: 50%; */
      margin: .1em;
      width: 1.3em;
      height: 1.3em;
      text-align: center;
      user-select: none;
      color: gray;
      background-color: white;
      line-height: 1.3em;
      font-weight: bolder; }

.display {
  position: fixed;
  width: 100%;
  display: block;
  left: 0;
  bottom: 3em;
  text-align: center; }
  .display > div {
    background-color: black;
    color: white;
    display: inline;
    font-size: 1.5em;
    padding: .25em .5em;
    line-height: 1.6em; }

.blockScreen {
  display: block !important;
  background-color: blue !important;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3; }

.notScroll {
  overflow: hidden !important; }

.listScroll {
  max-height: 70vh;
  overflow-y: scroll;
  background: none !important;
  direction: rtl;
  text-align: left; }

.listMobile {
  position: fixed;
  left: 0;
  background-color: red;
  top: 2em;
  overflow-y: scroll; }

.pushPin {
  position: fixed;
  left: 50%;
  top: 50%;
  font-size: 1em;
  color: yellow;
  text-shadow: 2px 2px #ff0000; }
  .pushPin.red {
    color: red !important; }

.tmpNode {
  z-index: 2; }

.shadow {
  text-shadow: 2px 2px #000000;
  background-color: #000000; }

.subtitleLog {
  width: 200px;
  height: 200px;
  position: fixed;
  left: 50px;
  top: 50px;
  background-color: royalblue;
  display: none; }

.stopScroll {
  overflow: hidden !important; }

.chanelContainer {
  display: flex;
  justify-content: center; }
  .chanelContainer ul.menu {
    margin: 0 auto;
    background-color: buttonface;
    position: fixed;
    list-style: none;
    padding: .1em .1em;
    top: 2em;
    border: 1px solid #eeeeee;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    color: gray; }
    .chanelContainer ul.menu li {
      padding: .2em;
      margin: .2em;
      border: 1px solid #eeeeee;
      border-right: 1px solid gray;
      border-bottom: 1px solid gray;
      cursor: pointer; }
    .chanelContainer ul.menu li:hover {
      border: 1px solid gray; }

.trend {
  position: fixed;
  bottom: 6em;
  right: 0em;
  background-color: buttonface;
  list-style: none;
  margin: 0em;
  padding: 0em; }
  .trend li {
    padding: .2em;
    margin: .2em;
    border: 1px solid #eeeeee;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    cursor: pointer; }
  .trend li:hover {
    color: white;
    border: 1px solid gray; }

.cursorH, .cursorV {
  background-color: red;
  opacity: .2;
  width: 2000px;
  height: 2px;
  position: fixed;
  top: 100px;
  left: 100px;
  z-index: -9; }

.cursorV {
  width: 2px;
  height: 2000px; }

.font {
  list-style: none;
  margin: 0em;
  padding: .2em;
  display: flex; }
  .font li {
    width: 1.2em;
    text-align: center; }
  .font li.C span {
    position: relative;
    display: block;
    width: 100%;
    background-color: blue;
    height: 4px;
    bottom: 7px; }

.menuactive {
  color: blue; }

ul.pallete {
  position: fixed;
  top: 2em;
  list-style: none;
  background-color: gray;
  display: grid;
  max-width: 10em;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: .1em;
  margin: 0em;
  padding: .1em;
  border: 1px solid #444444;
  border-top: none;
  border-radius: 0 0 .5em .5em;
  cursor: pointer; }

ul.pallete li {
  width: 1em;
  height: 1em;
  border: 1px solid #444444;
  border-radius: 50%; }

ul.weight {
  position: fixed;
  top: 2em;
  list-style: none;
  background-color: gray;
  max-width: 10em;
  margin: 0em;
  padding: .1em;
  border: 1px solid #444444;
  border-top: none;
  border-radius: 0 0 .5em .5em;
  cursor: pointer; }
  ul.weight li {
    padding: .2em;
    margin: .2em;
    width: 4em;
    border: 1px solid #aaaaaa;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    cursor: pointer; }
  ul.weight li:hover {
    color: white;
    border: 1px solid #666666; }
